body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

.A {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.AA {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.AAA {
    justify-content: flex-start;
    color: #F9FAF8;
    font-size: 24px;
}

.AAB {
    display: flex;
    list-style: none;
    margin: 0px;
    justify-content: flex-end;
    color: #E5E7EB;
    font-size: 18px;
    gap: 8px;
}

a.bannerlink {
    color:#E5E7EB;
    text-decoration: none;
}

.AB {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 1;
    flex-grow: 1;
}

.ABAA {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0px 0px 10px 0px;
}

.ABAB {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0px 0px 10px 0px;
}

.ABB {
   height: 50vh;
   width: 50%;
   border: 10px solid red;
   display: flex;
   justify-content: center;
} 

.ABB img {
    border-radius: 10%;
    width: 50vw;
    object-position: 0 55%;
    object-fit: cover;
    padding: 20px;
}

button {
    background-color: #3882F6;
    color: white;
    text-align: center; 
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
}

.B {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 10px solid rebeccapurple;
}

.BA {
    font-size: 18px;
    color: red;
    padding: 25px;
}

.BB {
    display: flex;
    border: 10px solid blue;
    justify-content: space-around;
}

.BBbox{
    display: flex;
    flex-direction: column;
    align-items: space-around;
    border: 10px solid orange;
}

.BBimage {
    display:flex;
    justify-items: center;
    border: 10px solid yellow;
    height: 30vh;
}

.BBimage img {
    border-radius: 20%;
    width: 15vw;
    object-fit: cover;
    padding: 8px;
}


.BBtext {
    color: green
}

.C {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 10% 20% 10% 20%;
    border: 10px solid lightcyan;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.attribution {
    text-decoration: none;
    text-align: right;
    font-size: 24px;
    color: #1F2937;
    font-weight: 800;
}


.F {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
}

